<h1>Update Post</h1>
{% extends 'index.html' %}
{% block content %}
<h1>Update Post</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}

    {% endif %}
    {% endwith %}
    
    <form method="POST" >
        {{ form.csrf_token }}
        {{form.id(id="id" ,type= "hidden" ,value=datas['id'] )}}   
        {{form.title.label}}
        {{form.title(id="title" ,value=datas['title'] )}}
        {{form.description.label}}
        {{form.description(class='', id="description" ,value=datas['description'])}}
        {% for error in form.title.errors %}
        <span class="">{{ error }}</span>
        {% endfor %}
        {{form.submit}}

    </form>


    {% endblock %}